<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>atom</string>
	<key>uuid</key>
	<string>6D241D34-15C1-44E9-935C-D9FFCA9DAC06</string>
</dict>
</plist>
